* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: dimgray;
}


/* Header Navigation */

header {
    border-bottom: 1px solid lightgray;
    min-width: 800px;
}

/* Search bar */
.search-text-input {
    height: 40px;
    width: 500px;
    border-radius: 30px;
    border: 1px solid lightgray;
    margin-left: 20px;
}

.search-text-input:hover {
    box-shadow: 1px 1px 5px 1px lightgray;
 }

input {
    width: 400px;
    height: 30px;
    border: none;
    font-size: 1em;
    position: relative;
    bottom: 25px;
    left: 15px;
}

input:focus {
    outline: none;
}

/* logo & icons */

.fa-user-circle, .fa-search {
    color: cornflowerblue;
}

.fa-user-circle {
    font-size: 2em;
}

.fa-th {
    font-size: 1.5em;
}

div img {
    width: 100px;
    margin: 20px 10px 10px 30px;
}

/* navigation */

#main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mnav1 {
    flex: 1;
}

.mnav2 {
    flex: 6;
    text-align: left;

}

.mnav3 {
    flex: 2;
    text-align: right;
}

span img {
    width: 20px;
    position: relative;
    bottom: 10px;
}

span i {
    position: relative;
    bottom: 25px;
}

/* secondary nav */

.secondary-nav {
    margin-left: 155px;
    font-size: 0.85em;
    padding: 1px 4px;
}

#settings {
    margin-left: 50px;
}

.secondary-nav li a:hover {
    color: cornflowerblue;
}

#tools a {
    padding: 5px 10px;
}

#tools a:hover {
    background: whitesmoke;
    color: dimgray;
    padding: 5px 10px;
    border: 1px solid lightgray;
    border-radius: 2px;
}


/* Search Results Section */

.results {
    width: 620px;
    margin-left: 170px;
    margin-top: 25px;
    position: relative;
    bottom: 20px;
    
}

.results h1 {
    color: darkblue;
    font-size: 1.2em;
    font-weight: lighter;
}

.results h2 {
    color: darkgreen;
    font-size: 0.9em;
    font-weight: lighter;
    padding-top: 3px;
}

.results p {
    padding-top: 3px;
    font-size: 0.8em;
    line-height: 1.5;
}

.item {
    margin-top: 30px;
}


/* Related results */

.related-search {
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 200px;
    margin-top: 10px;
    padding: 15px;
}

.related-search h1 {
    color: black;
}

.related-search p {
    padding-bottom: 3px;
}

.related-search ul {
    padding-left: 0;
    margin-left: 0;
}

.related-search ul li {
    list-style: inside;
    margin: 0;
    display: block;
    color: darkblue;
    font-weight: bolder;
}

#also-search {
    border: none;
    
}

/* Related results logos */

.company-links {
    display: flex;
    max-width: 450px;
    font-size: 0.8em;
}


.company-links div {
    flex: 1 1 60px;
    overflow: hidden;
}

.company-links img {
    height: 60px;
    width: 60px;
    margin: 10px 10px 0px 0px;
}

/* Footer Navigation */

footer {
    background: whitesmoke;
    border-top: 1px solid lightgray;
    height: 40px;
    margin-top: 10px;
}

footer nav{
    margin-left: 120px;
    font-size: 0.8em;
}

/* List styles */

ul {
    margin: 10px;
}
ul li {
    list-style: none;
    display: inline;
    padding: 10px;
}

/* Nav links */

nav a {
    text-decoration: none;
}

/* pagination */
.pagination {
    margin: 0 auto;
}